<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/blanket.css">
    <link rel="stylesheet" th:href="@{/blanket.css}"/>
    <title>Ansøgning om dagpenge under arbejdssøgning i et andet EØS-land</title>
</head>
<body>
<div class="page-container">
    <div class="container">
        <div id="cookies-div" class="cookies">
            <h3 id="cookies-heading" style="text-align: center">
                We're using cookies and selling your private data to third parties.
                If you want to continue using our services, click "I agree" below, or
                "I don't agree" if you refuse to share personal data with us.
            </h3>
            <button id="btnYes" class="yes" onclick="hideCookies()">I agree</button>
            <button id="btnNo" class="no" onclick="hideCookies()">I don't agree</button>
            <script type="application/javascript">
                function hideCookies() {
                    var x = document.getElementById("cookies-div");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>
        </div>
        <div class="head-container">
            <div class="display-element display-element--left">
                <h4>Husk at læse vejledningen <a href="/vejledning">her</a>, før du udfylder blanketten</h4>
            </div>
            <div class="display-element display-element--right">
                <h2>Ansøgning om dagpenge under arbejdssøgning i et andet EØS-land</h2>
                <h2>(dokument PD U2)</h2>
                <p>EØS 1 – 01 -2015</p>
            </div>
        </div>
        <h3>Ansøgerens oplysninger</h3>
        <form action="#" th:action="@{/}" th:object="${blanketInfo}" method="post">
            <div class="first-line">
                <div class="form-element">
                    Navn:<input type="text" th:field="*{navn}">
                    <div th:if="${#fields.hasErrors('navn')}" th:errors="*{navn}">Name Error</div>
                </div>
                <div class="form-element">
                    CPR-nummer:<input type="text" th:field="*{cpr}">
                    <div th:if="${#fields.hasErrors('cpr')}" th:errors="*{cpr}">cpr Error</div>
                </div>
            </div>
            <div class="line">
                <div class="form-element">
                    Adresse i Danmark:<input type="text" th:field="*{adresse}">
                    <div th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}">adresse Error</div>
                </div>
                <div class="form-element">
                    Statsborgerskab:<input type="text" th:field="*{statsborgerskab}">
                    <div th:if="${#fields.hasErrors('statsborgerskab')}" th:errors="*{statsborgerskab}">statsborgerskab Error</div>
                </div>
            </div>
            <div class="line">
                <div class="form-element">
                    Postnr.:<input type="text" th:field="*{postnr}">
                    <div th:if="${#fields.hasErrors('postnr')}" th:errors="*{postnr}">postnr Error</div>
                </div>
                <div class="form-element">
                    By:<input type="text" th:field="*{by}">
                    <div th:if="${#fields.hasErrors('by')}" th:errors="*{by}">by Error</div>
                </div>
                <div class="form-element">
                    Telefonnr.:<input type="text" th:field="*{telefon}">
                    <div th:if="${#fields.hasErrors('telefon')}" th:errors="*{telefon}">telefon Error</div>
                </div>
                <div class="form-element">
                    E-mail:<input type="text" th:field="*{email}">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>
                </div>
            </div>
            <div class="line">
                <div style="background-color: yellow" class="form-element">
                    Hvilet EØS-land ønsker du at søge arbejde i?
                </div>
                <div class="form-element">
                    EØS-land:<input type="text" name="EØS-land">
                </div>
                <div style="background-color: yellow" class="form-element">
                    Nøjagtig afrejsedato fra Danmark
                </div>
                <div class="form-element">
                    Dato:<input type="text" name="Dato">
                </div>
            </div>
            <div class="line">
                <div class="form-element" style="background-color: yellow">
                    Har du tidligere fået dagpenge under arbejdssøgning i udlandet?
                </div>
                <div class="form-element" style="background-color: yellow">
                    Ja<input type="checkbox" name="Ja">&nbsp;Nej<input type="checkbox" name="Nej">
                </div>
            </div>
            <div class="line">
                <div class="form-element">
                    Adresse i det andet EØS-land (hvis kendt):<input type="text" name="Adresse i det andet EØS-land (hvis kendt)">
                </div>
            </div>
            <div class="line">
                <div class="form-element">
                    Postnr.:<input type="text" name="Postnr.">
                </div>
                <div class="form-element">
                    By:<input type="text" name="By">
                </div>
                <div class="form-element">
                    Telefonnr.:<input type="text" name="Telefonnr.">
                </div>
            </div>
            <div class="line">
                <div class="form-element">
                    Seneste arbejdsgivers navn:<input type="text" name="Seneste arbejdsgivers navn">
                </div>
            </div>
            <div class="line">
                <div class="form-element">
                    Adresse:<input type="text" name="Adresse">
                </div>
                <div class="form-element">
                    Postnr.:<input type="text" name="Postnr.">
                </div>
                <div class="form-element">
                    By:<input type="text" name="By">
                </div>
            </div>
            <div class="line">
                <div style="background-color: yellow" class="form-element">
                    Arbejdsperiode
                </div>
                <div style="background-color: yellow" class="form-element">
                    fra
                </div>
                <div class="form-element">
                   Dato:<input type="text" name="Dato">
                </div>
                <div style="background-color: yellow" class="form-element">
                   til
                </div>
                <div class="form-element">
                    Dato:<input type="text" name="Dato">
                </div>
                <div style="background-color: yellow" class="form-element">
                    Fik du eller arbejdsgiveren
                    tilskud til din løn?
                </div>
                <div class="form-element">
                    Ja<input type="checkbox" name="Ja">&nbsp;Nej<input type="checkbox" name="Nej">
                </div>
            </div>
            <div class="line">
                <div style="background-color: yellow" class="form-element">
                    Har du selv sagt op?
                </div>
                <div style="background-color: yellow" class="form-element">
                    Ja<input type="checkbox" name="Ja">&nbsp;Nej<input type="checkbox" name="Nej">
                </div>
                <div class="form-element">
                    Årsag til arbejdsophør?:<input type="text" name="Årsag til arbejdsophør?">
                </div>
            </div>
            <div class="line">
                <div class="form-element">
                    Skriv dine eventuelle bemærkninger:<input type="text" name="Skriv dine eventuelle bemærkninger">
                </div>
            </div>
            <br><br>
            <div class="thirteenth-line">
                <div style="background-color: yellow" class="form-element">
                    Jeg erklærer på tro og love, at oplysningerne er rigtige, jf. § 86, stk. 1, og § 87, stk. 1 og 2, i lov om arbejdsløshedsforsikring mv.<br>
                    Jeg forpligter mig til at oplyse a-kassen om ændringer, der kan have betydning for dokumentet.<br>
                    Jeg erklærer også, at jeg har læst vejledningen.<br>
                    Oplys straks a-kassen om alt, der har betydning for udstedelse af dokumentet.
                </div>
            </div>
            <div class="line">
                <div class="form-element">
                    <img src="husk.png" alt="Husk">
                </div>
                <div class="form-element">
                    Dato:<input type="text" name="Dato">
                </div>
                <div class="form-element">
                    Underskrift:<input type="text" name="Underskrift">
                </div>
            </div>
            <input type="submit" value="submit">
        </form>

        <h4 style="text-align: center">
            Ansøgningen og eventuel dokumentation sendes til din a-kasse.
            <br><br>
            Husk! A-kassen skal have ansøgningen senest 14 dage før det ansøgte afrejsetidspunkt.
        </h4>
        <p style="text-align: left">AK-Samvirke EØS 1 – 01 -2015</p>
    </div>
</div>
</body>
</html>
