<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vejledning</title>
</head>
<body>
    <p>Vejledning om at søge arbejde i et andet EØS-land
        Læs denne vejledning, inden du udfylder ansøgningen
        Hvis du er arbejdsløs, kan du på visse betingelser søge
        arbejde i et andet EØS-land og samtidig få dine danske
        dagpenge udbetalt direkte fra din danske a-kasse. For at
        du kan få dagpenge i det andet EØS-land, skal du have et
        dokument PD U2, der udstedes af din a-kasse.
        Dokument PD U2 er din dokumentation på, at du har ret
        til at få udbetalt danske dagpenge i højst 3 måneder,
        mens du søger arbejde i et andet EØS-land, hvor du
        stiller dig til rådighed for arbejdsmarkedet.
        Du skal sørge for at afmelde dig på jobcenteret
        med virkning fra din afrejsedato. Når du vender
        tilbage igen, skal du tilmelde dig som arbejdssøgende i
        Danmark. Du bør derfor normalt ikke afmelde dig fra
        Folkeregisteret i Danmark, inden du udrejser til det andet
        EØS-land, fordi du ikke umiddelbart vil kunne tilmelde
        dig igen på jobcenteret uden en folkeregisteradresse i
        Danmark.
        Betingelser for at få et dokument PD U2:
        Du skal væres statsborger i et EØS-land,
        konventionsflygtning eller statsløs bosat i et EØS-land.
        Du skal have ret til dagpenge den dag, du rejser fra
        Danmark. Det betyder bl.a. at du skal have bopæl og
        ophold i Danmark på den dato, du har oplyst som
        afrejsedato på ansøgningen. Du skal sammenlagt have
        været tilmeldt som arbejdssøgende i jobcenteret og have
        stået til rådighed i mindst 4 uger, efter du sidst blev fuldt
        ledig (4-ugers-kravet). Ferie og arbejde kan ikke
        medregnes til 4-ugers-kravet.
        Har du tidligere modtaget dagpenge under
        arbejdssøgning i et andet EØS-land, kan du ikke få en ny
        tilladelse til at modtage dagpenge under arbejdssøgning i
        andet EØS-land, før du har dokumenteret, at du har haft
        arbejde i mindst 296 timer (deltidsforsikrede mindst 148
        timer) inden for 12 uger eller 3 måneder eller har drevet
        selvstændig virksomhed i væsentligt omfang i 8 hele uger
        inden for 12 uger eller 3 måneder (husk at vedlægge
        dokumentation herfor).
        Der kan på visse betingelser dispenseres fra 4-ugerskravet, hvis:
        - Du ønsker at følge din ægtefælle eller samlever, der skal
        overtage arbejde (mere end 5 uger) eller begynde
        uddannelse (mindst 18 måneder) i det andet EØS-land.
        Dokumentation for arbejdet eller uddannelsen skal
        vedlægges ansøgningen. Hvis du er samlevende, skal der
        også vedlægges dokumentation for fælles bopæl i
        Danmark indtil afrejsen (bopælsattest eller kopi af dit og
        din samlevers sygesikringsbevis).
        - Du er statsborger i det EØS-land, du ønsker at rejse til;
        dog er det et krav, at du har været tilmeldt som
        arbejdssøgende i jobcenteret i mindst en uge, efter at du
        senest blev ledig.
        - Du skal til en ansættelsessamtale i det andet EØS-land.
        Dokumentation med angivelse af datoen for samtalen
        skal vedlægges ansøgningen.
        -Du har fået arbejde på deltid eller arbejde af kortere
        varighed i det andet EØS-land; dog er det et krav, at du
        ikke bliver arbejdsløshedsforsikret i det andet land.
        - Du har været syg af kortere varighed, herunder barns
        sygdom.
        - Du har højst arbejdet 2 dage i 4-ugers-perioden.
        Underskrift
        Husk dato og underskrift. Bemærk, at du skriver under på
        tro og love. Oplysninger, der viser sig at være urigtige,
        kan medføre krav om tilbagebetaling af dagpenge og tab
        af rettigheder. Det står bl.a. i § 86, stk. 1 og 2, og § 87,
        stk. 1, 2 og 7, i lov om arbejdsløshedsforsikring mv.
        Kontrol og anden information
        De oplysninger, som du giver på denne blanket bliver
        kontrolleret. Det kan fx ske ved hjælp af oplysninger fra
        arbejdsgivere og myndigheder. Kontrol sker også ved
        registersamkøring.
        I henhold til persondataloven skal det oplyses, at
        - A-kassen kan indhente oplysninger fra din arbejdsgiver
        til brug for afklaring af dine rettigheder og pligter
        - A-kassen registrerer modtagne oplysninger
        - A-kassen kan i kontroløjemed benytte oplysninger i akassen og SKATs indkomstregister til registersamkøring
        - Du har ret til at få at vide, hvilke oplysninger, a-kassen
        registrerer om dig
        - Du kan kræve forkerte oplysninger rettet.
        Er du i tvivl – spørg a-kassen
        Side 2 af 3
        AK-Samvirke
        EØS 1 – 01 -2015
        Sådan søger du om dagpenge
        under arbejdssøgning i udlandet
        Vær opmærksom på, at du selv har ansvaret for, at din
        ansøgning er korrekt udfyldt, og at den krævede
        dokumentation følger med.
        1. Udfyld blanketten
        2. Du skal sørge for, at ansøgningen med eventuel
        dokumentation kommer frem til din a-kasse
        3. Du kan TIDLIGST ansøge om dagpenge under
        arbejdssøgning til et andet EØS-land 4 uger før
        afrejsen
        Hvis ansøgningen først modtages i jobcenteret eller i
        din a-kasse efter den dato, du har oplyst som
        afrejsedato på ansøgningen, får du afslag på
        ansøgningen.
        Hvis du rejser før den dato, du har oplyst som
        afrejsedato på ansøgningen, får du afslag på
        dokument PD U2. Hvis dokument PD U2 er udstedt, vil
        denne blive tilbagekaldt, og du kan ikke modtage
        dagpenge igen, før du er vendt tilbage til Danmark og
        tilmeldt som arbejdssøgende i jobcenteret.
        A-kassens afgørelse
        Hvis a-kassen får din ansøgning 14 dage før din
        afrejse, kan den udstede dokument PD U2
        ca. 1 uge før den dato, du har anført som afrejsedato.
        Det forudsætter naturligvis, at du opfylder betingelserne
        for at få dokumentet, og at der i øvrigt ikke mangler
        oplysninger.
        Hvis a-kassen ikke får din ansøgning senest 14 dage før
        den ansøgte afrejsedato, er det ikke sikkert, at den kan
        nå at behandle ansøgningen, før du rejser. Du kan få
        problemer med at blive tilmeldt som ledig og
        arbejdssøgende i det andet EØS-land, hvis du rejser, før
        a-kassen har udstedt dokumentet.
        I visse tilfælde skal a-kassen sende dokumentet til din
        udenlandske adresse. Det er derfor vigtigt, at du i
        ansøgningen skriver din adresse i det andet EØS-land.
        Hvis du rejser, før a-kassen har truffet afgørelse
        Hvis du rejser, før a-kassen har nået at træffe
        afgørelse i sagen, kan du få problemer med at
        blive tilmeldt som arbejdssøgende på
        arbejdsformidlingskontoret i det andet EØS-land
        og dermed få udbetalt dagpenge i hele perioden
        med EØS-dagpenge. Det er vigtigt, at du sørger
        for at få en dateret bekræftelse fra de udenlandske
        myndigheder på, at du har
        henvendt dig for at blive tilmeldt som
        arbejdssøgende.
        Tilmelding som arbejdssøgende på
        arbejdsformidlingskontoret i det andet
        EØS-land
        For at du kan modtage dagpenge i hele perioden
        med EØS-dagpenge, skal du tilmelde dig som
        arbejdssøgende på arbejdsformidlingskontoret i
        det andet EØS-land senest 7 kalenderdage fra og
        med afrejsedatoen (datoen fremgår af dokumentet). Hvis
        du tilmelder dig
        senere, betyder det, at du først kan få dagpenge
        fra den dag, hvor du er tilmeldt som
        arbejdssøgende.
        Ændring af afrejsedato
        Hvis du ændrer din afrejsedato, er udgangspunktet, at du
        må søge på ny.
        Annullering af ansøgning
        Hvis du har fået tilladelsen, men beslutter dig for ikke at
        rejse alligevel, skal du straks sende dokumentet tilbage
        til din a-kasse. A-kassen vil så give besked til jobcenteret
        om, at du ikke er rejst.</p>
</body>
</html>
